<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
  <ol class="breadcrumb">
    <li><%= link_to "Decisions", admin_decisions_path %></li>
    <li><%= link_to @decision.title, admin_decision_variables_path %></li>
    <li><%= link_to "Variables", admin_decision_variables_path(@decision.id) %></li>
    <li class="active">
      <%= ['new','create'].
          include?(action_name) ? "New variable" : session[:variable_name]
      %>
    </li>
  </ol>
  <%= simple_form_for [:admin, @decision, @variable.becomes(Variable)] do |f| %>
    <%= f.error_notification %>
    <% if !["edit", "update"].include?(action_name) %>
      <%= f.input :type, label: "Type", required: true, id: "variable_type",
                  collection: [FloatVariable.name, IntegerVariable.name] %>
    <% end %>
    <%= f.input :title, label: "Title", required: true %>
    <%= f.input :description, label: "Description", required: true %>
    <%= f.input :name, label: "Name", required: true %>
    <%= f.input :order, label: "Order" %>
    <%= f.input :pro, label: "Pro" %>
    <%= f.input :default, label: "Default" %>

    <div class="btn-group" role="group" aria-label="...">
      <%= f.button :submit, "Save" %>
      <%= link_to "Cancel", :back, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
