<h4 class="center">Assumptions</h4>
<p class="center" style="color: grey">Edit the numbers below as needed.
  Enter your best guess for the Home Price Budget you can afford.</p>
<%= simple_form_for :input_variables, html: { id: :assumptions_form }, url: detailed_results_decision_path(decision_id: @decision.id), method: :get do |f| %>

  <% if flash[:notice] && flash[:notice] != 'Signed in successfully.' && flash[:notice] != 'Signed out successfully.' %>
    <div class="alert alert-warning">
      <%= flash[:notice].html_safe %>
    </div>
  <% end %>

  <p align="center"><%= link_to "RESET", assumptions_decision_path(back_to_default: 'true'), class: 'btn btn-default btn-sm' %></p>
  <p align='center'><%= f.button :submit, name: :redirection, value: "SAVE THIS", class: 'btn-sm' %></p>
  <p align="center"><%= link_to "LOAD A FILE", upload_csv_decision_path, class: 'btn btn-default btn-sm' %></p>

  <table align="center" id="assumptions_table" class="with_signs">
    <tr>
      <td class="assumptions_home_price" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Enter the maximum price, before transaction costs, that you are will to pay for a new home.">Home Price Budget</td>
      <td>
        <div class="input-group">
          <div class="input-group-addon dollar_sign">$</div>
          <% if params[:back_to_assumptions] || params[:csv_uploaded] || params[:back_from_free] || session[:first_time] == 'false' %>
            <%= text_field_tag "variables[will_spend]", params.fetch(:variables, {}).fetch(:will_spend, ''), value: @home_price_budget_value.to_i, class: "form-control input-sm", type: 'text', data: {autonumeric: {aSign: '', mDec: 0}} %>
          <% else %>
            <%= text_field_tag "variables[#{@home_price_budget.name}]", params.fetch(:variables, {}).fetch(@home_price_budget.name, ''), value: @home_price_budget.default.to_i, class: "form-control input-sm", type: 'text', data: {autonumeric: {aSign: '', mDec: 0}} %>
          <% end %>
        </div>
      </td>
    </tr>

    <tr></tr>
    <% @free_variables.each do |var| %>
      <tr>
        <td class="var_with_tooltip var_assumptions" data-toggle="tooltip" data-container="body" data-placement="bottom" title="<%= set_tooltip(var) %>"><%= set_var_title_for_assumptions(var) %></td>
        <td>
          <div class="input-group">
            <div class="input-group-addon dollar_sign">$</div>
            <% if params[:back_to_assumptions] || params[:csv_uploaded] || params[:back_from_free] || session[:first_time] == 'false'%>
              <%= text_field_tag "variables[#{var[0]}]", params.fetch(:variables, {}).fetch(var[0], ''), value: var[1].to_i, class: "form-control input-sm", type: 'text', data: {autonumeric: {aSign: '', mDec: 0}} %>
            <% else %>
              <%= text_field_tag "variables[#{var.name}]", params.fetch(:variables, {}).fetch(var.name, ''), value: var.default.to_i, class: "form-control input-sm", type: 'text', data: {autonumeric: {aSign: '', mDec: 0}} %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    <tr></tr>
    <tr></tr>
    <% @pro_variables.each do |var| %>
      <tr>
        <% if var_type(var) == "FloatVariable" %>
          <% if params[:back_to_assumptions] || params[:csv_uploaded] || params[:back_from_free] || session[:first_time] == 'false' %>
            <td class="var_with_tooltip var_assumptions" data-toggle="tooltip" data-container="body" data-placement="bottom" title="<%= set_tooltip_pro(var) %>"><%= @variables.find_by(name: var[0].to_s).title %></td>
            <td>
              <div class="input-group">
                <div class="input-group-addon">%</div>
                <%= text_field_tag "variables[#{var[0]}]", params.fetch(:variables, {}).fetch(var[0], ''), value: number_with_precision(var[1] * 100, precision: 2), class: "form-control input-sm", type: 'number' %>
              </div>
            </td>
          <% else %>
            <td class="var_with_tooltip var_assumptions" data-toggle="tooltip" data-container="body" data-placement="bottom" title="<%= set_tooltip_pro(var) %>"><%= var.title %></td>
            <td>
              <div class="input-group">
                <div class="input-group-addon">%</div>
                <%= text_field_tag "variables[#{var.name}]", params.fetch(:variables, {}).fetch(var.name, ''), value: number_with_precision(var.default * 100, precision: 2), class: "form-control input-sm", type: 'number' %>
              </div>
            </td>
          <% end %>
        <% else %>
          <% if params[:back_to_assumptions] || params[:csv_uploaded] || params[:back_from_free] || session[:first_time] == 'false' %>
            <td class="var_with_tooltip var_assumptions" data-toggle="tooltip" data-container="body" data-placement="bottom" title="<%= set_tooltip_pro(var) %>"><%= @variables.find_by(name: var[0].to_s).title %></td>
            <td>
              <div class="input-group">
                <% if @variables.find_by(name: var[0].to_s).title == "Term (yrs)" %>
                  <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <% else %>
                  <div class="input-group-addon dollar_sign">$</div>
                <% end %>
                <%= text_field_tag "variables[#{var[0]}]", params.fetch(:variables, {}).fetch(var[0], ''), value: var[1].to_i, class: "form-control input-sm", type: 'text', data: {autonumeric: {aSign: '', mDec: 0}} %>
              </div>
            </td>
          <% else %>
            <td class="var_with_tooltip var_assumptions" data-toggle="tooltip" data-container="body" data-placement="bottom" title="<%= set_tooltip_pro(var) %>"><%= var.title %></td>
            <td>
              <div class="input-group">
                <% if var.title == "Term (yrs)" %>
                  <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <% else %>
                  <div class="input-group-addon dollar_sign">$</div>
                <% end %>
                <%= text_field_tag "variables[#{var.name}]", params.fetch(:variables, {}).fetch(var.name, ''), value: var.default.round, class: "form-control input-sm", type: 'text', data: {autonumeric: {aSign: '', mDec: 0}} %>
              </div>
            </td>
          <% end %>
        <% end %>
        <%= ['closing_cost', 'income_tax'].include?(var_name(var)) ? '<tr></tr><tr></tr>'.html_safe : '' %>
      </tr>
    <% end %>
  </table>

  <div class="nav-btns">
    <%= link_to "BACK", decisions_path, class: "left_nav_btn btn btn-info" %>
    <%= f.button :submit, name: :next_btn, value: "NEXT", class: "right_nav_btn btn btn-info" %>
  </div>
  <br>
  <br>
<% end %>
