<%= @negative_max %>
<h4 class="center">Understand Your Results</h4>
<table align="center" cellspacing="50" cellpadding="50">
  <thead>
    <tr>
      <td></td>
      <td><b>Home Price&nbsp;</b></td>
      <td><b>Monthly Costs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
      <td><b>Savings in 30 yrs.</b></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Stay Put</td>
      <td class="padding_for_understand_result_cells">
        <div class="progress">
          <div class="progress-bar" style="width: <%= before_value_space_left(session[:spend_month].to_f) %>%; background-color: #F2F2F2">
          </div>
          <div class="progress-bar <%= session[:spend_month].to_f > 0 ? 'progress-bar-warning' : 'progress-bar-danger' %>" style="width: <%= left_value_space(session[:spend_month].to_f) %>%;">
            <p class='bar_numbers'><%= number_to_currency(session[:spend_month], precision: 0, negative_format: "(%u%n)")%></p>
          </div>
        </div>
      </td>
      <td class="padding_for_understand_result_cells">
        <div class="progress">
          <div class="progress-bar" style="width: <%= before_value_space_right(@calculate_future_value) %>%; background-color: #F2F2F2">
          </div>
          <div class="progress-bar <%= @calculate_future_value > 0 ? 'progress-bar-success' : 'progress-bar-danger' %>" style="width: <%= right_value_space(@calculate_future_value) %>%;">
            <p class='bar_numbers'><%= number_to_currency(@calculate_future_value, precision: 0, negative_format: "(%u%n)") %></p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td><i class="fa fa-university fa-2x" aria-hidden="true"></i></td>
      <td><%= number_to_currency(@banks_may_tell_you, precision: 0, negative_format: "(%u%n)")%></td>
      <td class="padding_for_understand_result_cells">
        <div class="progress">
          <div class="progress-bar" style="width: <%= before_value_space_left(@net_housing_expense_left) %>%; background-color: #F2F2F2">
          </div>
          <div class="progress-bar <%= @net_housing_expense_left > 0 ? 'progress-bar-warning' : 'progress-bar-danger' %>" style="width: <%= left_value_space(@net_housing_expense_left) %>%;">
            <p class='bar_numbers'><%= number_to_currency(@net_housing_expense_left, precision: 0, negative_format: "(%u%n)") %></p>
          </div>
        </div>
      </td>
      <td class="padding_for_understand_result_cells">
        <div class="progress">
          <div class="progress-bar" style="width: <%= before_value_space_right(@future_wealth_left) %>%; background-color: #F2F2F2">
          </div>
          <div class="progress-bar <%= @future_wealth_left > 0 ? 'progress-bar-success' : 'progress-bar-danger' %>" style="width: <%= right_value_space(@future_wealth_left) %>%;">
            <p class='bar_numbers'><%= number_to_currency(@future_wealth_left, precision: 0, negative_format: "(%u%n)") %></p>
          </div>
        </div>
      </td>
    </tr>
    <tr class="padding_for_understand_result_cells">
      <td><%= image_tag 'squircle_only.png', size: '35x35', class: "img-responsive" %></td>
      <td><%= number_to_currency(@decision_fish_suggests, precision: 0, negative_format: "(%u%n)")%></td>
      <td class="padding_for_understand_result_cells">
        <div class="progress">
          <div class="progress-bar" style="width: <%= before_value_space_left(@net_housing_expense_right) %>%; background-color: #F2F2F2">
          </div>
          <div class="progress-bar <%= @net_housing_expense_right > 0 ? 'progress-bar-warning' : 'progress-bar-danger' %>" style="width: <%= left_value_space(@net_housing_expense_right) %>%;">
            <p class='bar_numbers'><%= number_to_currency(@net_housing_expense_right, precision: 0, negative_format: "(%u%n)") %></p>
          </div>
        </div>
      </td>
      <td class="padding_for_understand_result_cells">
        <div class="progress">
          <div class="progress-bar" style="width: <%= before_value_space_right(@future_wealth_right) %>%; background-color: #F2F2F2">
          </div>
          <div class="progress-bar <%= @future_wealth_right > 0 ? 'progress-bar-success' : 'progress-bar-danger' %>" style="width: <%= right_value_space(@future_wealth_right) %>%;">
            <p class='bar_numbers'><%= number_to_currency(@future_wealth_right, precision: 0, negative_format: "(%u%n)") %></p>
          </div>
        </div>
      </td>
    </tr>
    <tr class="padding_for_understand_result_cells">
      <td><%= image_tag 'you.png', size: '30x30', class: "img-responsive" %></td>
      <td><%= number_to_currency(session[:will_spend], precision: 0, negative_format: "(%u%n)")%></td>
      <td class="padding_for_understand_result_cells">
        <div class="progress">
          <div class="progress-bar" style="width: <%= before_value_space_left(@net_housing_expense_you) %>%; background-color: #F2F2F2">
          </div>
          <div class="progress-bar <%= @net_housing_expense_you > 0 ? 'progress-bar-warning' : 'progress-bar-danger' %>" style="width: <%= left_value_space(@net_housing_expense_you) %>%;">
            <p class='bar_numbers'><%= number_to_currency(@net_housing_expense_you, precision: 0, negative_format: "(%u%n)")%></p>
          </div>
        </div>
      </td>
      <td class="padding_for_understand_result_cells">
        <div class="progress">
          <div class="progress-bar" style="width: <%= before_value_space_right(@future_wealth_you) %>%; background-color: #F2F2F2">
          </div>
          <div class="progress-bar <%= @future_wealth_you > 0 ? 'progress-bar-success' : 'progress-bar-danger' %>" style="width: <%= right_value_space(@future_wealth_you) %>%;">
            <p class='bar_numbers'><%= number_to_currency(@future_wealth_you, precision: 0, negative_format: "(%u%n)")%></p>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br>
<h5 class='blue_text center'>Consider your decision:</h5>
<p style="color: grey" align='center'>Your <%= number_to_currency(session[:will_spend].to_i, precision: 0)%> budget may <%= @future_wealth_right > @future_wealth_you ? "reduce" : "increase"%> your savings <%= number_to_currency((@future_wealth_you - @future_wealth_right).abs, precision: 0)%> over <%= @term %> years, compared to my suggestion. Is that OK?</p>
<br>
<p style="color: grey" class="loose_job_text" align='center' data-toggle="tooltip" data-placement="top" title="Job loss, medical expenses, divorce and other unexpected events can stress your finances. Don't count on being able to sell your home quickly or for more than the mortgage. Click next if you're happy with these results.">
  What if you lose your job? In two years, you would have saved enough to last <%= @weeks > 0 ? @weeks : 0 %> weeks. Is that OK?
</p>
<br>
<p align='center'><%= link_to "TRY A NEW BUDGET", make_decision_decision_path(direction: 'back'), class: 'btn btn-default' %></p>
<br>
<br>
<div class="nav-btns">
  <%= link_to "BACK", make_decision_decision_path(direction: 'back'), class: "left_nav_btn btn btn-info" %>
  <%= link_to "NEXT", done_decision_path, class: "right_nav_btn btn btn-info" %>
</div>
<br>
<br>
