<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag import_csv_decision_path, multipart: true do %>
      <%= label :file, 'Choose your CSV file'%>
      <%= file_field_tag :file %>
      <p style="color:red"><%= flash[:notice] %></p>
  </div>
  <div class="panel-footer">
    <div class="btn-group" role="group" aria-label="...">
      <%= submit_tag "LOAD", class: "btn btn-info" %>
      <%= link_to "CANCEL", assumptions_decision_path(), class: "btn btn-danger" %>
    <% end %>
    </div>
  </div>
</div>
