<div class='menu-bar'>
  <nav>
    <%= link_to_unless_current('Email access', admin_available_emails_path) %> |
    <%= link_to_unless_current('Bubbles', admin_desi_says_modals_path) %> |
    <%= link_to_unless_current('Jokes', admin_jokes_path) %> |
    <%= link_to_unless_current('Encouragements', admin_encouragements_path) %> |
    <%= link_to_unless_current('Ideas', admin_ideas_path) %> |
    <%= link_to_unless_current('Pending Ideas', pending_admin_ideas_path) %> |
    <%= link_to_unless_current('Reported Ideas', reported_admin_ideas_path) %> |
  </nav>

  <nav>
    <%= link_to "Log out", '/admin/logout' %>
  </nav>
</div>