<h4 align="center">Take the next step:</h4>
<ul>
  <li class="blue_text"><b>Upgrade</b></li>
  <p>PRO version offers more control and analyses. Upgrade today for a 50% discount!</p>
  <li><a href="http://www.trulia.com" target='_blank' class='blue_text'><b>Find a home</b></a></li>
  <p>Search for a new homes at our partner's site.</p>
  <li><a href=' https://www.zillow.com/mortgage-rates/' target='_blank' class='blue_text'><b>Find a mortgage</b></a></li>
  <p>Search for a low-cost mortgage at our partner's site.</p>
  <li class="blue_text"><b>See our sponsors</b></li>
  <p>Help keep Decision Fish advertising-free!</p>
  <li><a href='http://www.cafepress.com/decisionfish' target='_blank' class='blue_text'><b>Visit the Decision Fish Gift Shop</b></a></li>
  <p>Buy hats, shirts &amp; more with our adorable logo on it.</p>
  <li><a href='http://www.decisionfish.com/blog' target='_blank' class='blue_text'><b>Read our blog</b></a></li>
  <p>Short articles all about the science of wise decision-making.</p>
  <li><%= link_to "Start over", decisions_path(back_to_default: 'true'), class: 'blue_text', style: 'font-weight: bold' %></li>
  <p>Go back to the beginning &amp; start a new decision.</p>
</ul>
<br>
<br>
<div align="center" class="survey_container">
  <%= link_to "TAKE SURVEY <i class='fa fa-pencil-square-o' aria-hidden='true'></i>".html_safe, "https://docs.google.com/forms/d/1wXL11QId5thTyuPTojE74pUGs4peERAkURm6mlcID6g/viewform?c=0&w=1", class: 'btn btn-default btn-lg', id: 'survey_btn' %>
  <p style="color: grey" id="survey_text"> I really need your help!</p>
</div>
<br>
<br>
<div align='center'>
  <h4>Tell your friends about Decision Fish:</h4>
  <a href="mailto:?subject=Check%20out%20Decision%20Fish"><i class="fa fa-envelope-o fa-3x blue_text"></i></a>
</div>
<br>
<div class="nav-btns">
  <% if session[:user_way] == 'pro' %>
    <%= link_to "BACK", charts_decision_path(direction: "back", id: session[:decision_id]), class: "left_nav_btn btn btn-info" %>
  <% else %>
    <%= link_to "BACK", done_decision_path(direction: "back", id: session[:decision_id]), class: "left_nav_btn btn btn-info" %>
  <% end %>
  <%= link_to "HOME", "/pages/desi", class: "right_nav_btn btn btn-info" %>
</div>
<br>
<br>
