<p id="notice"><%= notice %></p>

<h1>White-listed Emails</h1>

<table>
  <thead>
    <tr>
      <th>Email pattern</th>
      <th>Used count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @available_emails.each do |available_email| %>
      <tr>
        <td><%= available_email.email_pattern %></td>
        <td><%= available_email.used_count %></td>
        <td><%= link_to 'Edit', edit_admin_available_email_path(available_email) %></td>
        <td><%= link_to 'Destroy', [:admin, available_email], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New White-listed Email', new_admin_available_email_path %>
