<%= form_with(model: [:admin, encouragment], local: true) do |form| %>
  <% if encouragment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(encouragment.errors.count, "error") %> prohibited this encouragment from being saved:</h2>

      <ul>
      <% encouragment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :encouragment_content, rows: 5, cols: 50 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
