<p id="notice"><%= notice %></p>

<h1>Encouragments</h1>

<table class='table-with-entity'>
  <thead>
  </thead>

  <tbody>
    <% @encouragments.each do |encouragment| %>
      <tr>
        <td><%= encouragment.content %></td>
        <td><%= link_to 'Edit', edit_admin_encouragment_path(encouragment), role: 'edit-link' %></td>
        <td><%= link_to 'Destroy', admin_encouragment_path(encouragment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Encouragment', new_admin_encouragment_path %>
