<div class="col-xs-6 col-xs-offset-3">
  <div class="input-group">
    <span class="input-group-addon">$</span>
    <%= f.input :value, as: :string, label: false,
                input_html: { data: {autonumeric: {aSign: '', mDec: 0}}, min: 0, max: 10000000, step: set_step(@variable),
                              value: @variable_value },
                autofocus: true %>
  </div>
  <% if flash[:notice] && flash[:notice] != 'Signed in successfully.' && flash[:notice] != 'Signed out successfully.' %>
    <p style='color: red'><%= flash[:notice] %></p>
  <% end %>
</div>

<br>
<br>

  <%= image_tag set_image(@variable), size: "250x80",
                class: "img-responsive center-block" %>

<br>

  <% if @variable.order == 1 %>
    <%= link_to "BACK", decision_path(@decision.id, direction: "back"),
                        class: "left_question_btn btn btn-info" %>
  <% else %>
    <%= link_to "BACK",
        decision_variable_path(decision_id: @decision.id,
                               id: @previous_variable.id, direction: "back"),
        class: "left_question_btn btn btn-info" %>
  <% end %>
  <% if @variable.order == 5 %>
    <%= f.button :submit, "NEXT", class: "right_question_btn btn btn-info",
                                  id: @variable.id %>
  <% else %>
    <%= f.button :submit, "NEXT", class: "right_question_btn btn btn-info",
                                  id: @variable.id %>
  <% end %>
