<h4 class="center">Our Assumptions</h4>
<p class="center" style="color: grey">Free users can go back to edit first five;
Upgrade to PRO to edit them all.</p>
<table align="center">
  <tr>
    <td class="var_with_tooltip" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Of course,  the more you earn, the more you can afford to spend on a home!">1. Income</td>
    <td><%= number_to_currency(session[:income_month], precision: 0) %></td>
  </tr>
  <tr>
    <td class="var_with_tooltip" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Your current housing expenses are a starting point to determine what you can afford. An affordable home will permit you to continue saving.">2. Housing Costs</td>
    <td><%= number_to_currency(session[:spend_month], precision: 0) %></td>
  </tr>
  <tr>
    <td class="var_with_tooltip" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Larger debt payments reduce the amount banks will lend you.">3. Debt Payments</td>
    <td><%= number_to_currency(session[:debt_month], precision: 0) %></td>
  </tr>
  <tr>
    <td class="var_with_tooltip" data-toggle="tooltip" data-placement="bottom" data-container="body" title="If you're saving more than you need, you may be able to afford to increase your housing expense. The FREE version of Decision Fish uses 10% income as the savings goal.">4. Saving</td>
    <td><%= number_to_currency(session[:saving_month], precision: 0) %></td>
  </tr>
  <tr>
    <td class="var_with_tooltip" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Cash is King! More cash allows you to borrow less, which reduces your mortgage payments and makes higher priced homes  affordable. If you put 20% down, you can save by avoiding costly Private Mortgage Insurance (PMI). You may want to exclude your emergency fund (many people like to keep 6 months of expenses available for emergencies)">5. Cash</td>
    <td><%= number_to_currency(session[:cash_now], precision: 0) %></td>
  </tr>
  <% @pro_variables.each do |variable| %>
    <tr>
      <td class="var_with_tooltip" data-toggle="tooltip" data-placement="bottom" data-container="body" title="<%= set_tooltip_pro(variable) %>"><%= variable.title %></td>
      <% if variable.type == "FloatVariable" %>
        <td><%= number_to_percentage((variable.default * 100), precision: 2) %></td>
      <% elsif variable.type == "IntegerVariable" %>
        <% if variable.name == "term" %>
          <td><%= number_with_precision(variable.default, precision: 0)%></td>
        <% else %>
          <td><%= number_to_currency(variable.default, precision: 0)%></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<div class="nav-btns">
  <%= link_to "BACK", free_result_table_decision_variables_path(direction: "back"), class: "left_nav_btn btn btn-info" %>
  <%= link_to "DECIDE!", make_decision_decision_path(id: @decision.id), class: "right_nav_btn btn btn-info" %>
</div>
<br>
<br>
